<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email Verification Web App</title>
    <link rel="stylesheet" href="/static/css/style.css">

    <!-- Favicon -->
    <link rel="icon" href="/static/css/email.ico" type="image/x-icon">

    <!-- Meta Tags for Social Media and Link Previews -->
    <meta name="description" content="Instantly verify if an email address is valid with our sleek, easy-to-use web app. Built with Flask for reliable results.">
    <meta name="keywords" content="email verification, Flask app, web development, email checker">
    <meta name="author" content="ayyoubberoigui">
   <meta name="image" content="{{ url_for('static', filename='email.png') }}">

    <!-- Open Graph / Facebook -->
    
    <meta property="og:title" content="Instant Email Verification Web App">
    <meta property="og:description" content="Verify email addresses instantly and effortlessly. Built with Flask for quick, reliable email checking.">
    <meta property="og:image" content="https://verychecky.onrender.com/static/email.png"> <!-- Ensure this URL is correct and accessible -->
    <meta property="og:url" content="https://verychecky.onrender.com">
    <meta name="twitter:card" content="summary_large_image">

 
    <title>Email Checker</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <div class="glass-container">
        <h1>Email Address Checker 📮</h1>
        <form method="POST">
            
            <input type="email" name="email" placeholder="Enter email address" required>
            <button type="submit">Check</button>
        </form>
    </div>

    <!-- Modal Structure -->
    {% if email is defined %}
    <div class="modal" id="resultModal">
        <div class="modal-content">
            <span class="close-button" onclick="closeModal()">×</span>
            <p>
                The email address <strong>{{ email }}</strong> is 
                {% if is_valid %}
                    <span style="color: green;">valid</span>.
                {% else %}
                    <span style="color: red;">invalid</span>.
                {% endif %}
            </p>
        </div>
    </div>
    {% endif %}

    <script>
        // Show modal on page load if there's a result
        window.onload = function() {
            const modal = document.getElementById('resultModal');
            if (modal) {
                modal.style.display = 'block';
            }
        };

        // Close modal function
        function closeModal() {
            document.getElementById('resultModal').style.display = 'none';
        }
    </script>
     <div class="footer">
        <p id="fot">&copy; VeryChecky | Made by <a href="https://www.linkedin.com/in/ayyoubberoigui/">Beroigui </a> ❤️</p>
    </div>

</body>
</html>
